.wrap {
  padding: 1px; }
  .wrap .list1 {
    margin-top: 78px;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    padding: 60px 0; }
    .wrap .list1 .container .row > div:first-child img {
      width: 90%; }
    .wrap .list1 .container .row > div:last-child .list-1 {
      border-bottom: 1px solid #eeeeee;
      padding: 30px 0 10px 0; }
      .wrap .list1 .container .row > div:last-child .list-1 > div:first-child {
        font-size: 32px;
        color: #333333;
        margin-bottom: 10px; }
      .wrap .list1 .container .row > div:last-child .list-1 > div:nth-child(2) > div {
        float: left;
        margin-right: 10px; }
        .wrap .list1 .container .row > div:last-child .list-1 > div:nth-child(2) > div > span:first-child {
          background: url("../img/icon01.png") no-repeat;
          background-size: 100%;
          background-position: 0 1px;
          margin-right: 8px;
          display: inline-block;
          width: 18px;
          height: 18px; }
        .wrap .list1 .container .row > div:last-child .list-1 > div:nth-child(2) > div > span {
          font-size: 16px;
          color: #c4c4c4;
          font-weight: lighter;
          vertical-align: middle; }
      .wrap .list1 .container .row > div:last-child .list-1 > div:nth-child(2) > div:nth-child(2) > span:first-child {
        background: url("../img/icon02.png") no-repeat;
        background-size: 100%;
        background-position: 0 2px; }
      .wrap .list1 .container .row > div:last-child .list-1 > div:nth-child(2) > div:nth-child(3) > span:first-child {
        background: url("../img/icon03.png") no-repeat;
        background-size: 100%;
        background-position: 0 2px; }
    .wrap .list1 .container .row > div:last-child .list-2 {
      padding: 20px 0;
      border-bottom: 1px solid #eeeeee; }
      .wrap .list1 .container .row > div:last-child .list-2 p {
        text-align: justify;
        line-height: 30px;
        font-size: 14px;
        color: #666666;
        text-indent: 1em;
        margin-bottom: 10px;
        letter-spacing: 2px; }
      .wrap .list1 .container .row > div:last-child .list-2 p:last-child {
        text-indent: 0;
        border-bottom: 0; }
    .wrap .list1 .container .row > div:last-child .list-3 {
      padding: 25px 0; }
      .wrap .list1 .container .row > div:last-child .list-3 > div {
        float: left; }
      .wrap .list1 .container .row > div:last-child .list-3 > div:first-child > div:first-child {
        margin-bottom: 20px; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:first-child > div:first-child > span:first-child {
          display: inline-block;
          width: 18px;
          height: 18px;
          background: url("../img/icon06.png") no-repeat;
          background-size: 100%;
          margin-right: 5px; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:first-child > div:first-child > span {
          font-size: 22px;
          color: #666666;
          font-weight: lighter;
          letter-spacing: 2px;
          vertical-align: middle; }
      .wrap .list1 .container .row > div:last-child .list-3 > div:first-child > div:last-child button {
        font-size: 16px;
        color: #feffff;
        background-color: #ea3621;
        padding: 10px 80px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        outline: none; }
      .wrap .list1 .container .row > div:last-child .list-3 > div:last-child {
        float: right;
        margin-top: 15px; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:last-child > div {
          display: inline-block;
          vertical-align: bottom; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:last-child > div:first-child {
          font-size: 12px;
          color: #999999; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:last-child span {
          display: inline-block;
          vertical-align: bottom;
          width: 18px;
          height: 18px;
          background: url("../img/icon07.png") no-repeat;
          background-size: 70%;
          background-position: 0 4px; }
        .wrap .list1 .container .row > div:last-child .list-3 > div:last-child > div:last-child {
          width: 80px;
          height: 80px; }
          .wrap .list1 .container .row > div:last-child .list-3 > div:last-child > div:last-child img {
            width: 100%; }
  .wrap .list2 {
    background-color: #fff;
    padding: 100px 0 70px 0; }
    .wrap .list2 > div > div:first-child {
      position: relative; }
      .wrap .list2 > div > div:first-child > div:first-child {
        font-size: 24px;
        color: #333333;
        margin-bottom: 30px;
        letter-spacing: 3px; }
      .wrap .list2 > div > div:first-child > div:last-child {
        position: absolute;
        right: 0;
        bottom: 5px;
        height: 70%; }
        .wrap .list2 > div > div:first-child > div:last-child a {
          float: left;
          background-color: #fff;
          border: 1px solid #e5e5e5;
          width: 50px;
          height: 25px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background: url("../img/right01.png") no-repeat;
          background-position: 50% 50%; }
        .wrap .list2 > div > div:first-child > div:last-child > a:first-child {
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
        .wrap .list2 > div > div:first-child > div:last-child a:hover {
          text-decoration: none;
          background: url("../img/left01.png") no-repeat;
          background-position: 50% 50%;
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
        .wrap .list2 > div > div:first-child > div:last-child .swiper-button-prev1:hover {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none; }
    .wrap .list2 > div > div:last-child .swiper-container {
      width: 100%; }
      .wrap .list2 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide a {
        display: inline-block; }
        .wrap .list2 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide a img {
          width: 100%; }
  .wrap .list3 {
    padding: 100px 0 70px 0; }
    .wrap .list3 > div > div:first-child {
      position: relative; }
      .wrap .list3 > div > div:first-child > div:first-child {
        font-size: 24px;
        color: #333333;
        margin-bottom: 30px;
        letter-spacing: 3px; }
      .wrap .list3 > div > div:first-child > div:last-child {
        position: absolute;
        right: 0;
        bottom: 5px;
        height: 70%; }
        .wrap .list3 > div > div:first-child > div:last-child a {
          float: left;
          background-color: #f1f1f1;
          border: 1px solid #e5e5e5;
          width: 50px;
          height: 25px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background: url("../img/right01.png") no-repeat;
          background-position: 50% 50%; }
        .wrap .list3 > div > div:first-child > div:last-child > a:first-child {
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
        .wrap .list3 > div > div:first-child > div:last-child a:hover {
          text-decoration: none;
          background: url("../img/left01.png") no-repeat;
          background-position: 50% 50%;
          -webkit-transform: rotateZ(180deg);
          -moz-transform: rotateZ(180deg);
          -ms-transform: rotateZ(180deg);
          -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
        .wrap .list3 > div > div:first-child > div:last-child .swiper-button-prev2:hover {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none; }
    .wrap .list3 > div > div:last-child .swiper-container {
      width: 100%; }
      .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a {
        display: block;
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; }
        .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a > div {
          width: 100%; }
        .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a > div:first-child img {
          width: 100%; }
        .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 {
          border-bottom: 1px solid #f2f2f2; }
          .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 .slide1-title {
            font-size: 18px;
            color: #333333;
            font-weight: normal;
            padding: 20px 0 10px 20px; }
          .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 .slide1-title2 {
            font-size: 14px;
            color: #c4c4c4;
            padding: 0 0 10px 20px; }
            .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 .slide1-title2 > div {
              float: left;
              margin-right: 5px; }
              .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 .slide1-title2 > div > span {
                vertical-align: middle;
                margin-right: 5px; }
              .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide1 .slide1-title2 > div > span:first-child {
                display: inline-block;
                background: url("../img/icon02.png") no-repeat;
                background-size: 100%;
                background-position: 0px 2px;
                width: 16px;
                height: 16px; }
        .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide2 {
          position: relative; }
          .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide2 > div:first-child {
            margin-left: 20px;
            font-size: 14px;
            color: #333333;
            font-weight: normal;
            padding: 15px 0; }
            .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide2 > div:first-child > span:last-child {
              color: #999999;
              margin-left: 10px; }
          .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide2 > div:last-child {
            position: absolute;
            top: 50%;
            margin-top: -2.4%;
            right: 20px;
            height: 15px; }
            .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a .slide2 > div:last-child img {
              height: 100%; }
      .wrap .list3 > div > div:last-child .swiper-container .swiper-wrapper .swiper-slide .slide > a:hover {
        text-decoration: none; }

/*# sourceMappingURL=detail.css.map */
