body {
  background-color: #f1f1f1 !important; }

.wrap {
  padding: 1px; }
  .wrap .list1 {
    margin-top: 78px;
    position: relative;
    width: 100%; }
    .wrap .list1 > img {
      width: 100%; }
    .wrap .list1 > div {
      position: absolute; }
    .wrap .list1 .search {
      width: 100%;
      top: 35px; }
      .wrap .list1 .search > div {
        width: 35%;
        margin: 0 auto;
        position: relative; }
        .wrap .list1 .search > div > div:first-child {
          float: left;
          width: 76%;
          position: relative; }
          .wrap .list1 .search > div > div:first-child input {
            width: 100%;
            border: 0;
            padding: 15px 20px;
            font-size: 14px;
            font-weight: lighter;
            color: #999999;
            -webkit-border-radius: 8px 0 0 8px;
            -moz-border-radius: 8px 0 0 8px;
            border-radius: 8px 0 0 8px;
            -webkit-box-shadow: -1px 3px 10px #e7e7e7;
            -moz-box-shadow: -1px 3px 10px #e7e7e7;
            box-shadow: -1px 3px 10px #e7e7e7; }
          .wrap .list1 .search > div > div:first-child span {
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -2.5%;
            right: 20px;
            background: url("../img/icon05.png") no-repeat;
            background-size: 100%;
            width: 20px;
            height: 20px; }
        .wrap .list1 .search > div > div:last-child button {
          font-size: 14px;
          background-color: #ea3621;
          color: #ffffff;
          padding: 15px 40px;
          -webkit-border-radius: 0 8px 8px 0;
          -moz-border-radius: 0 8px 8px 0;
          border-radius: 0 8px 8px 0;
          -webkit-box-shadow: -1px 3px 10px #e7e7e7;
          -moz-box-shadow: -1px 3px 10px #e7e7e7;
          box-shadow: -1px 3px 10px #e7e7e7; }
    .wrap .list1 .title {
      position: absolute;
      bottom: 60px;
      width: 100%; }
      .wrap .list1 .title > div > div {
        text-align: center; }
      .wrap .list1 .title > div > div:first-child {
        font-size: 40px;
        color: #333333;
        font-weight: lighter; }
      .wrap .list1 .title > div > div:last-child {
        font-size: 18px;
        color: #666666; }
  .wrap .list2 {
    margin: 30px 0 100px 0; }
    .wrap .list2 > div .row {
      margin-top: 30px; }
      .wrap .list2 > div .row .slide > a {
        display: block;
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; }
        .wrap .list2 > div .row .slide > a > div {
          width: 100%; }
        .wrap .list2 > div .row .slide > a > div:first-child img {
          width: 100%; }
        .wrap .list2 > div .row .slide > a .slide1 {
          border-bottom: 1px solid #f2f2f2; }
          .wrap .list2 > div .row .slide > a .slide1 .slide1-title {
            font-size: 18px;
            color: #333333;
            font-weight: normal;
            padding: 20px 0 10px 20px; }
          .wrap .list2 > div .row .slide > a .slide1 .slide1-title2 {
            font-size: 14px;
            color: #c4c4c4;
            padding: 0 0 10px 20px; }
            .wrap .list2 > div .row .slide > a .slide1 .slide1-title2 > div {
              float: left;
              margin-right: 5px; }
              .wrap .list2 > div .row .slide > a .slide1 .slide1-title2 > div > span {
                vertical-align: middle;
                margin-right: 5px; }
              .wrap .list2 > div .row .slide > a .slide1 .slide1-title2 > div > span:first-child {
                display: inline-block;
                background: url("../img/icon02.png") no-repeat;
                background-size: 100%;
                background-position: 0px 2px;
                width: 16px;
                height: 16px; }
        .wrap .list2 > div .row .slide > a .slide2 {
          position: relative; }
          .wrap .list2 > div .row .slide > a .slide2 > div:first-child {
            margin-left: 20px;
            font-size: 14px;
            color: #333333;
            font-weight: normal;
            padding: 15px 0; }
            .wrap .list2 > div .row .slide > a .slide2 > div:first-child > span:last-child {
              color: #999999;
              margin-left: 10px; }
          .wrap .list2 > div .row .slide > a .slide2 > div:last-child {
            position: absolute;
            top: 50%;
            margin-top: -2.4%;
            right: 20px;
            height: 15px; }
            .wrap .list2 > div .row .slide > a .slide2 > div:last-child img {
              height: 100%; }
      .wrap .list2 > div .row .slide > a:hover {
        text-decoration: none; }
    .wrap .list2 > div .page {
      margin-top: 50px; }
      .wrap .list2 > div .page ul li {
        margin: 0 5px; }
        .wrap .list2 > div .page ul li a {
          font-size: 14px;
          color: #666666;
          padding: 0.5rem .9rem;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        .wrap .list2 > div .page ul li .sel {
          background-color: #ea3621 !important;
          color: #fff !important; }
        .wrap .list2 > div .page ul li a:hover {
          background-color: #fff; }
      .wrap .list2 > div .page ul li.lue a {
        background-color: #f1f1f1;
        border: 0; }
  .wrap .list3 {
    margin-top: 30px; }
    .wrap .list3 > div ul > li {
      float: left;
      margin-right: 10px;
      width: 13.5%;
      background-color: #fff;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px; }
      .wrap .list3 > div ul > li a {
        display: block;
        padding: 10px;
        font-size: 16px;
        color: #666666;
        font-weight: lighter;
        text-align: center; }
      .wrap .list3 > div ul > li a:hover {
        text-decoration: none; }
    .wrap .list3 > div ul > li.sel {
      background-color: #ea3621; }
      .wrap .list3 > div ul > li.sel a {
        color: #ffffff; }
    .wrap .list3 > div ul > li:last-child {
      margin-right: 0; }

/*# sourceMappingURL=index.css.map */
